<div class="header-top">
  <div fxLayout="row" fxLayoutAlign="start space-between" fxFlexFill>
    <div class="grid-container pv-0 mt-0 mb-0">
      <div fxLayout="row" fxLayoutAlign="start space-between" fxFlexFill>
        <div fxFlex>
          <p fxLayout="row" fxLayoutAlign="start center" fxFlexFill><strong>Produced by Amvac</strong>&nbsp;in the USA. Marketed by Stehekin,
            LLC</p>
        </div>
        <div>
          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" fxFlexFill>
            <a mat-link href="tel:8013020100" class="text-primary ml-15">
              <mat-icon class="material-icons-outlined mat-16 prt-03">call</mat-icon> 801-302-0100
            </a>
            <a fxShow.gt-xs fxHide.xs mat-raised-button color="primary" href="tel:8013020100">Apply now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header">
  <div class="grid-container pv-0 mt-0 mb-0">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlexFill>
      <div fxFlex="40">
        <h4 class="mb-0 font-weight-600">REJUVENATE Seed Treatment&#8482;</h4>
        <!-- <div fxLayout="row wrap" fxLayoutAlign="center center">
          <img src="../../../assets/images/rejuvenate-logo.png" class="header-logo clickable" [routerLink]="[ 'home' ]" />
        </div> -->
      </div>
      <div fxFlex="60px" fxHide.gt-xs fxShow.xs class="text-right">
        <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
          <button mat-icon-button (click)="closeDrawer()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
      <div fxFlex="60" fxShow.gt-xs fxHide.xs>
        <div fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="2px" fxFlexFill>
          <a class="header-btn" [routerLink]="[ 'about' ]" routerLinkActive #aboutActive="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{'active': aboutActive.isActive}">About Us</a>
          <a class="header-btn" [routerLink]="[ 'contact' ]" routerLinkActive #contactActive="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{'active': contactActive.isActive}">Contact</a>
          <a class="header-btn" [routerLink]="[ 'articles' ]" routerLinkActive #articlesActive="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{'active': articlesActive.isActive}">Safety Data</a>
          <a class="header-btn" [routerLink]="[ 'articles' ]" routerLinkActive #articlesActive="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{'active': articlesActive.isActive}">EPA</a>
          <a mat-icon-button color="white" class="btn-social" target="_blank" href="https://www.facebook.com/TheMortgagePartner/?fref=ts" rel="noopener"><img src="../../../assets/images/facebook.svg" class="mat-icon-button-social" /></a>
          <a mat-icon-button color="white" class="btn-social" target="_blank" href="https://twitter.com/MortgagePart" rel="noopener"><img src="../../../assets/images/twitter.svg" class="mat-icon-button-social" /></a>
          <a mat-icon-button color="white" class="btn-social" target="_blank" href="https://www.linkedin.com/company/the-rejuvenate-inc-/about/" rel="noopener"><img src="../../../assets/images/linkedin.svg" class="mat-icon-button-social" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
