@import 'variables';

.header-top {
  position: fixed;
  top: 0;
  height: 45px;
  width: 100%;
  min-width: 100%;
  padding: 3px 15px;
  z-index: 1;
  background-color: $white;
}

.header {
  position: fixed;
  overflow: hidden;
  top: 45px;
  height: 50px;
  width: 100%;
  min-width: 100%;
  padding: 6px 15px;
  z-index: 1;
  background-color: $white;

  .header-logo {
    height: auto;
    width: 100%;
    margin: 0 auto;
    margin-top: 17px;
  }

  .header-btn {
    position: relative;
    color: $text-color;
    display: inline-flex;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:after {
      position: absolute;
      display: block;
      content: '';
      bottom: -3px;
      width: 100%;
      border-bottom: 3px solid $rejuvemate-primary;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &:hover:after,
    &:focus:after {
      transform: scaleX(1);
    }


    &.active {

      &:after {
        transform: scaleX(1);
      }
    }
  }
}
