<div class="grid-container pl-0 pr-0 pt-0">
  <div fxLayout="row" fxLayoutAlign="start center">
    <a mat-link href="tel:8013020100" class="text-primary ml-15" rel="noopener">
      <mat-icon class="material-icons-outlined mat-16 prt-04 mr-05 mb-10">call</mat-icon> 801-302-0100
    </a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <a mat-link href="mailto:tyler@mortgagepartner.com" class="text-primary ml-15" rel="noopener">
      <mat-icon class="material-icons-outlined mat-16 prt-04 mr-05 mb-10">mail</mat-icon> tyler@morgagepartner.com
    </a>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-15 mb-15">
    <a mat-icon-button color="white" class="btn-social" target="_blank"
      href="https://www.facebook.com/TheMortgagePartner/?fref=ts" rel="noopener"><img
        src="../../../assets/images/facebook.svg" class="mat-icon-button-social" /></a>
    <a mat-icon-button color="white" class="btn-social" target="_blank" href="https://twitter.com/MortgagePart"
      rel="noopener"><img src="../../../assets/images/twitter.svg" class="mat-icon-button-social" /></a>
    <a mat-icon-button color="white" class="btn-social" target="_blank"
      href="https://www.linkedin.com/company/the-rejuvenate-inc-/about/" rel="noopener"><img
        src="../../../assets/images/linkedin.svg" class="mat-icon-button-social" /></a>
  </div>
  <mat-list>
    <mat-list-item class="nav-list ph-05" [routerLink]="[ '' ]" routerLinkActive #homeActive="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{'active': homeActive.isActive}">
      <mat-icon matListIcon class="material-icons-outlined">house</mat-icon>
      <h3 matLine> Homepage </h3>
    </mat-list-item>
    <mat-list-item class="nav-list ph-05" [routerLink]="[ 'about' ]" routerLinkActive #aboutActive="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{'active': aboutActive.isActive}">
      <mat-icon matListIcon class="material-icons-outlined">favorite</mat-icon>
      <h3 matLine> About us </h3>
    </mat-list-item>
    <mat-list-item class="nav-list ph-05" [routerLink]="[ 'contact' ]" routerLinkActive
      #contactActive="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }"
      [ngClass]="{'active': contactActive.isActive}">
      <mat-icon matListIcon class="material-icons-outlined">perm_phone_msg</mat-icon>
      <h3 matLine> Contact </h3>
    </mat-list-item>
    <mat-list-item class="nav-list ph-05" [routerLink]="[ 'loanprocess' ]" routerLinkActive
      #loanprocessActive="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }"
      [ngClass]="{'active': loanprocessActive.isActive}">
      <mat-icon matListIcon class="material-icons-outlined">account_tree</mat-icon>
      <h3 matLine> Safety data  </h3>
    </mat-list-item>
    <mat-list-item class="nav-list ph-05" [routerLink]="[ 'tools' ]" routerLinkActive #toolsActive="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{'active': toolsActive.isActive}">
      <mat-icon matListIcon class="material-icons-outlined">build</mat-icon>
      <h3 matLine> EPA </h3>
    </mat-list-item>
    <mat-list-item class="nav-list ph-05" [routerLink]="[ 'articles' ]" routerLinkActive
      #articlesActive="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }"
      [ngClass]="{'active': articlesActive.isActive}">
      <mat-icon matListIcon class="material-icons-outlined">pages</mat-icon>
      <h3 matLine> Articles </h3>
    </mat-list-item>
  </mat-list>
  <br />
</div>
