@import 'variables';

.hero {
  position: relative;
  width: 100%;
  padding: 180px 0;
  // max-height: 50vh;   
  min-height: 35vh;
  max-height: 75vh;
  background-image: linear-gradient(rgba(255, 255, 255, .68) 0%, rgba(255, 255, 255, .24) 100%), url(/assets/images/rejuventate-seed-treatment-potatos-ground.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, .42) 100%), url(/assets/images/rejuventate-seed-treatment-potatos-ground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 60%;

  @media screen and (max-width: 991px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 599px) {
    padding: 80px 0;
  }

  h1,
  h3 {
    color: $white;
  }

  h1 {
    font-weight: 600;
  }

  h3 {
    font-weight: 400;
  }

  .hero-text-backdrop {
    padding: 50px 15px;
    // background: rgba(255, 255, 255, .52);
  }

}
