<div class="hero">
  <div class="grid-container mt-0 mb-0">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.xs="100" fxFlex.gt-xs="75" fxFlex.gt-lg="65" class="hero-text-backdrop">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <!-- <h1 class="text-center">Utah's #1 Mortgage Company</h1> -->
          <h1 class="text-center">Seed treatment you can trust.</h1>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <!-- <h3 class="text-center">The Mortgage Partner has been serving Utah for over 30 years...</h3> -->
          <h3 class="text-center">Take control of your yield with proven and trusted potato seed treatment. </h3>
        </div>
        <br />
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px">
          <a mat-raised-button style="font-size: 16px;" color="accent" href="tel:8013020100">Contact us</a>
          <a mat-button style="font-size: 16px;" color="accent" href="tel:8013020100">Safety data</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pv-40">
  <div class="grid-container ph-10-sm">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h2 class="font-weight-600 mb-0 text-center">Getting <u>You</u> Utah's Best Mortgage Rates</h2>
    </div>
    <!-- Subsection 1: Home Loan Experts -->
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <img fxFlex.xs="100" fxFlex.gt-xs="50" height="300" src="../../../assets/images/illustrations/woman-desk-computer.svg" alt="Mortgage Partner loan officer at desk working on a mortgage loan for a utah resident" />
      <div fxFlex.xs="100" fxFlex.gt-xs="50">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <h3 class="font-weight-600">Home Loan Experts</h3>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <p>Finding the best mortgage rate in Utah shouldn't be a burden on you. At The Mortgage Partner, your home
            loan expert is
            dedicated to getting you the best mortgage rate&mdash;with a loan type that fits your needs. Here are some
            of our advantages:</p>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-05">
          <mat-icon class="material-icons-outlined ml-30 mr-15">search</mat-icon> We shop for your best rate.
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-05">
          <mat-icon class="material-icons-outlined ml-30 mr-15">person</mat-icon> Talk to your loan officer at anytime.
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-05">
          <mat-icon class="material-icons-outlined ml-30 mr-15">attach_money</mat-icon> No origination fee. No
          application fees.
        </div>
      </div>
    </div>
    <!-- Subsection 1: Home Loan Experts -->
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex.xs="100" fxFlex.gt-xs="50">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <h3 class="font-weight-600">Home Loan Experts</h3>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <p>Finding the best mortgage rate in Utah shouldn't be a burden on you. At The Mortgage Partner, your home
            loan expert is
            dedicated to getting you the best mortgage rate&mdash;with a loan type that fits your needs. Here are some
            of our advantages:</p>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-05">
          <mat-icon class="material-icons-outlined ml-30 mr-15">search</mat-icon> We shop for your best rate.
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-05">
          <mat-icon class="material-icons-outlined ml-30 mr-15">person</mat-icon> Talk to your loan officer at anytime.
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-05">
          <mat-icon class="material-icons-outlined ml-30 mr-15">attach_money</mat-icon> No origination fee. No
          application fees.
        </div>
      </div>
      <img fxFlex.xs="100" fxFlex.gt-xs="50" height="300" src="../../../assets/images/illustrations/woman-desk-computer.svg" alt="Mortgage Partner loan officer at desk working on a mortgage loan for a utah resident" />
    </div>
    <!-- Subsection 1: Home Loan Experts -->
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <img fxFlex.xs="100" fxFlex.gt-xs="50" height="300" src="../../../assets/images/illustrations/woman-desk-computer.svg" alt="Mortgage Partner loan officer at desk working on a mortgage loan for a utah resident" />
      <div fxFlex.xs="100" fxFlex.gt-xs="50">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <h3 class="font-weight-600">Home Loan Experts</h3>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <p>Finding the best mortgage rate in Utah shouldn't be a burden on you. At The Mortgage Partner, your home
            loan expert is
            dedicated to getting you the best mortgage rate&mdash;with a loan type that fits your needs. Here are some
            of our advantages:</p>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-05">
          <mat-icon class="material-icons-outlined ml-30 mr-15">search</mat-icon> We shop for your best rate.
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-05">
          <mat-icon class="material-icons-outlined ml-30 mr-15">person</mat-icon> Talk to your loan officer at anytime.
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-05">
          <mat-icon class="material-icons-outlined ml-30 mr-15">attach_money</mat-icon> No origination fee. No
          application fees.
        </div>
      </div>
    </div>
    <!-- Subsection 1: Home Loan Experts -->
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex.xs="100" fxFlex.gt-xs="50">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <h3 class="font-weight-600">Home Loan Experts</h3>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <p>Finding the best mortgage rate in Utah shouldn't be a burden on you. At The Mortgage Partner, your home
            loan expert is
            dedicated to getting you the best mortgage rate&mdash;with a loan type that fits your needs. Here are some
            of our advantages:</p>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-05">
          <mat-icon class="material-icons-outlined ml-30 mr-15">search</mat-icon> We shop for your best rate.
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-05">
          <mat-icon class="material-icons-outlined ml-30 mr-15">person</mat-icon> Talk to your loan officer at anytime.
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-05">
          <mat-icon class="material-icons-outlined ml-30 mr-15">attach_money</mat-icon> No origination fee. No
          application fees.
        </div>
      </div>
      <img fxFlex.xs="100" fxFlex.gt-xs="50" height="300" src="../../../assets/images/illustrations/woman-desk-computer.svg" alt="Mortgage Partner loan officer at desk working on a mortgage loan for a utah resident" />
    </div>

    <!-- <div fxLayout="row" fxLayoutAlign="start space-between">
      <a mat-link href="tel:8013020100" class="text-primary">
        <mat-icon class="mat-16 prt-03">call</mat-icon> 801-302-0100
      </a>
    </div> -->
  </div>
</div>
