<div class="grid-container grid-container_full p-0 m-0">
  <app-header></app-header>
  <div fxLayout="row" fxLayoutAlign="start center" *ngIf="isLoadingApp">
    <mat-progress-bar fxFlex="100%" class="loading-bar" color="primary" mode="indeterminate" value="50" bufferValue="75"></mat-progress-bar>
  </div>
  <!-- Spaced needed for the fixed header (60px) -->
  <div class="app-contents"></div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
<mat-drawer-container [ngClass]="{'drawer-isOpen': appState.default.showNavigationDrawer}">
  <mat-drawer #drawer class="scrollbar navigation-drawer" mode="push" [opened]="appState.default.showNavigationDrawer">
    <div [@400]="'fadeIn'">
      <!-- Logo & Close Navigation Drawer -->
      <div fxLayout="row" fxLayoutAlign="start space-between">
        <div fxFlex class="p-10">
          <img src="../../Images/rejuvenate-logo.png" class="nav-logo clickable" [routerLink]="[ 'home' ]" />
        </div>
        <div fxFlex="50px" class="p-10">
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-icon-button (click)="closeDrawer()" class="prt-04">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <!-- Navigation for the drawer -->
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <app-sidenav fxFlex="100"></app-sidenav>
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>
