<div class="footerSection">
  <div class="grid-container pv-0 mt-0 mb-0">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h2>Footer Section Here</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <p>Copyright © 2021 The Mortgage Partner, Inc. All Rights Reserved.</p>
    </div>
  </div>
</div>
