// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default; // $gray-lightest
$gray-200: #e9ecef !default; // $gray-lighter
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default; // $gray-light
$gray-700: #495057 !default; // $gray
$gray-800: #343a40 !default; // $gray-dark
$gray-900: #212529 !default; // $gray-darker
$black: #000 !default;

$grays: (100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900) !default;

$blue: #2196F3 !default; // Blue 500
$indigo: #6610f2 !default;
$purple: #7E57C2 !default; // Deep Purple 400
$pink: #e83e8c !default;
$red: #EF5350 !default; // Red 400
$orange: #FFCA28 !default; // Amber 400
$yellow: #ffc107 !default;
$green: #66BB6A !default; // Green 400
$teal: #20c997 !default;
$cyan: #00BCD4 !default; // Cyan 500
$info: #6c7cbb !default;
$MortgagePartner: #606188 !default; // Cyan 500
$MortgagePartner-60: rgba(96, 97, 136, .60) !default; // 
$MortgagePartner-75: rgba(96, 97, 136, .75) !default; // 
$elitepurple: rgba(70, 71, 117, .85) !default; // 
$elitepurple-60: rgba(70, 71, 117, .60) !default; // 
$elitepurple-75: rgba(70, 71, 117, .75) !default; // 
$dark-60: rgba(52, 58, 64, .60) !default; //
$dark-75: rgba(52, 58, 64, .75) !default; //
$dark-90: rgba(52, 58, 64, .90) !default; //

// FOR SEARCH
// THEME COLORS

$colors: (blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  primary: $MortgagePartner,
  primary-60: $MortgagePartner-60,
  primary-75: $MortgagePartner-75,
  elitepurple: $elitepurple,
  elitepurple-60: $elitepurple-60,
  elitepurple-75: $elitepurple-75,
  gray: $gray-600,
  gray-dark: $gray-800,
  dark: $gray-800,
  dark-60: $dark-60,
  dark-75: $dark-75,
  dark-90: $dark-90) !default;

$theme-colors: (primary: $MortgagePartner,
  primary-60: $MortgagePartner-60,
  primary-75: $MortgagePartner-75,
  secondary: $gray-600,
  success: $green,
  elitepurple: $elitepurple,
  elitepurple-60: $elitepurple-60,
  elitepurple-75: $elitepurple-75,
  info: #6c7cbb,
  blue: $blue,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
  dark-60: $dark-60,
  dark-75: $dark-75,
  dark-90: $dark-90) !default;

// From Bootsrap Variables

$body-bg: #e5e5e5 !default;
$body-color: rgba(0, 0, 0, 0.87) !default;
$text-muted: $gray-600 !default;
$font-size-sm: .875rem !default;
$link-color: $MortgagePartner !default;

$image_path: "../assets/images/" !default;
$image_pathdemo: "../assets/images-demo/" !default;


$skin: $MortgagePartner;
$skin-light: #42A5F5 !default; // Blue 400
$dark: #333C44 !default; // darken Blue 100 > #343E46
$dark-light: lighten($dark, 5%) !default;
$grayscale-dark-light: #484848;
$bright: #ffffff !default;
$gray-light: #636c72 !default;
$gray-light2: #999 !default;

$page-bg: #fdfdfd !default; // background color of .app-page-container


$state-default-bg: rgba(0, 0, 0, .1) !default; // also: pagination bg
$state-default-border: darken(adjust-hue($state-default-bg, -10), 5%) !default;

//== Typography
$font-weight-thin: 300 !default;
$font-family-condensed: "Roboto Condensed",
"Roboto",
"Helvetica Neue",
Arial,
sans-serif !default;


// UI
$container_fluid_maxwidth: 100em;


// Cards 
$card-padding: 1.429em !default;
$border-radius-card: 0.143em !default;

// Grid Variables
$element-top-margin: (30px/3) !default;
$element-bottom-margin: (30px*2)/3 !default;

// Tables
$theme-dark-data-table-header-color: rgba(#fff, 0.54);


// box shadow
@mixin z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@mixin z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

@mixin z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@mixin z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@mixin z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

@mixin z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
