// Notes:
// 
// Nice purple #443b59


/*--------------- General ---------------*/
html {
  background-color: #fdfdfd;
  position: relative;
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  color: #43454e;
  background-color: #fdfdfd;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.46666667;
  font-weight: 400;
  overflow: unset !important;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  @media only screen and (max-width: 599px) {
    font-size: 0.8125rem;
    // font-size: 13px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1.429em;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar {
    height: 0.5em;
    width: 0.5em;
    background-color: transparent;
  }
}

@media screen and (max-width: 1279px) {

  // For app and mobile
  * {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }

  input,
  textarea {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
  }
}

:focus {
  outline-color: rgba(0, 0, 0, .24);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #43454e;
  line-height: 1.2;
  font-family: Roboto, Arial, sans-serif;
  text-transform: none
}

p {
  font-size: 1em;
  font-family: Roboto, Arial, sans-serif;
}

textarea {
  max-height: 21.429em;
  font-family: Roboto, Arial, sans-serif;
}

ul {
  font-size: 1em;
  list-style: none
}

strong,
.strong {
  font-weight: bold;
}

.scrollbar {
  touch-action: manipulation;

  &::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1.429em;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar {
    height: 0.357em;
    width: 0.357em;
    background-color: transparent;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.clickable {
  cursor: pointer !important;
  outline-color: rgba(0, 0, 0, .24);

  &.clickable_hover {

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, .02);
    }
  }
}

.break-line {
  white-space: normal !important;
  word-break: break-word !important;
}

.min-h-auto {
  min-height: auto !important;
}

form {
  width: 100%;
  max-width: 100%;
  margin: 0
}


/* -- Button Disabled CSS -- */

button {
  cursor: pointer;
}

button:focus {
  outline-color: transparent;
}

/* -- End Button Disabled CSS -- */

/* -- Misc. Tools -- */

.text-muted {
  color: #6b7684 !important;
}

//  scroll-container

.scroll-container {

  overflow-y: auto;
  max-height: 25em;
  padding: 0 0.357em 0 0;
  overflow-x: hidden;
  touch-action: manipulation;


  @media (max-height: 812) {
    max-height: 21.429em;
  }

  @media (max-height: 500) {
    max-height: 17.5em;
  }
}

// New UI

.text-thin {
  font-weight: 300;
}

// shows which cards we accept.
.ccbrands {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  background: transparent;

  li {
    height: 1.786em;
    width: 3.214em;
    margin: 1.071em 0.357em 0 0;
    display: inline-block;
    overflow: hidden;
    text-indent: -35.714em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;

    &:last-child {
      margin-right: 0
    }

    &.ccbrands_icon {
      text-indent: 0;
    }
  }

  .visa {
    margin: 1.071em 0.714em 0 0;
    background-image: url(https://MortgagePartner.com/images/VISA.svg);
  }

  .masterCard {
    background-image: url(https://MortgagePartner.com/images/MasterCard.svg);
  }

  .amex {
    background-image: url(https://MortgagePartner.com/images/amex.svg);
  }

  .discover {
    background-image: url(https://MortgagePartner.com/images/Discover.svg);
  }

  .jcb {
    background-image: url(https://MortgagePartner.com/images/jcb.svg);
  }

  i {
    color: #AAB7C4;
  }
}

.vert-button_break {
  height: 1.429em;
  width: 0.357em;
  margin-right: 0.214em;
  margin-left: 0.214em;
  margin-bottom: 0.357em;
  border-left: 0.071em solid rgba(0, 0, 0, .36);
}

// Animate clicks
:not(.cdk-focused) {
  mat-icon.animate-click {
    -webkit-animation: none;
    animation: none;
    transform: scale(1);
  }
}

.cdk-focused {
  mat-icon.animate-click {
    font-family: "Material Icons";
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation: 300ms ease-in-out animateClick;
    animation: 300ms ease-in-out animateClick;
    transform: scale(1);
  }
}


@-webkit-keyframes animateClick {
  0% {
    transform: scale(.75);
  }

  100% {
    font-family: "Material Icons";
    transform: scale(1);
  }
}


@keyframes animateClick {
  0% {
    transform: scale(.75);
  }

  100% {
    font-family: "Material Icons";
    transform: scale(1);
  }
}

// Mortgage Partner


.btn-social {

  display: inline-flex;

  .mat-icon-button-social {
    height: 18px;
    color: $text-color;
    position: absolute;
    top: 11px;
    left: 11px;
  }
}
