$image_path: "assets/images" !default;

// Colors
$white: #fff !default;
$text-color: #43454e !default;


/* Color Theme Swatches in Hex */
$rejuvemate-primary: #344459;
$rejuvemate-accent: #F2DC99;
$rejuvemate-dark-green: #075904;
$rejuvemate-greed: #1DA608;
$rejuvemate-logo: #61D90B;
